.hero {
  height: 75px;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  background-color: #fbf9ef;
  cursor: default;
}
.left {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  padding-left: 1rem;
  transition: width 0.2s linear;
  position: relative;
}
.logo {
  font-size: 2rem;
}
.pages,
.pagesShow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagesUL,
.pagesULShow {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagesLi {
  font-size: 1rem;
  font-weight: 600;
}.pagesLi::selection{
  color: #fbf9ef;
  background-color: black;
}
.right {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  transition: all 0.2s linear;
  padding-right: 20px;
}
.signup,
.login {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signupBtn,
.loginBtn {
  height: 35px;
  width: 90px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
}
.signupBtn,.signupBtn::selection {
  background-color: #fff;
  color: #658352;
  border: 1px solid #658352;
}
.loginBtn,.loginBtn::selection {
  background-color: #658352;
  color: #fff;
  border: 1px solid #fff;
}
.toggle {
  display: none;
}
.toggleMenu,
.toggleClose {
  position: absolute;
  transition: all 0.2s linear;
  z-index: 1;
}
@media screen and (max-width: 880px) {
  .right {
    width: 35%;
    padding-right: 15px;
    gap: 1rem;
  }
}
@media screen and (max-width: 710px) {
  .pagesUL {
    position: absolute;
    height: 0;
    top: -150px;
  }
  .left,
  .right,
  .logo {
    z-index: 1;
  }
  .toggle {
    height: 100%;
    width: 41px;
    display: flex;
    align-items: center;
  }
  .toggleClose {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .toggleMenu {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pages {
    height: 300px;
    width: 100vw;
    position: relative;
    left: 0;
  }
  .pagesULShow {
    position: relative;
    top: 176px;
    left: 57px;
    width: 99vw;
    height: 276px;
    display: flex;
    flex-direction: column;
    background-color: #fbf9ef;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px 0;
    margin: 0 -206px;
    transition: top 0.3s linear;
  }
}
@media screen and (max-width: 360px){
  .signupBtn, .loginBtn{
    width: 80px;
    font-size: 0.88rem;
  }
  .right{
    gap: 0.2rem;
  }
}